<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<div class="layui-header" th:fragment="header" id="header">
<ul class="layui-nav layui-layout-left">
    <li class="layui-nav-item layadmin-flexible" lay-unselect>
        <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
        </a>
    </li>
    <li class="layui-nav-item layui-hide-xs" lay-unselect>
        <a th:href="@{/}" target="_blank" title="前台">
            <i class="layui-icon layui-icon-website"></i>
        </a>
    </li>
</ul>
<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

    <li class="layui-nav-item" lay-unselect>
        <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
            <i class="layui-icon layui-icon-notice"></i>
            <!-- 如果有新消息，则显示小圆点 -->
            <span class="layui-badge-dot"></span>
        </a>
    </li>
    <li class="layui-nav-item layui-hide-xs" lay-unselect>
        <a href="javascript:;" layadmin-event="theme">
            <i class="layui-icon layui-icon-theme"></i>
        </a>
    </li>
    <li class="layui-nav-item layui-hide-xs" lay-unselect>
        <a href="javascript:;" layadmin-event="note">
            <i class="layui-icon layui-icon-note"></i>
        </a>
    </li>
    <li class="layui-nav-item" style="margin-right: 20px">
        <a href="javascript:;"><img th:src="${session.user.avatarUrl}" class="layui-nav-img" th:text="${session.user.nickName}"></a>
        <dl class="layui-nav-child">
            <dd><a lay-href="set/user/info.html">基本资料</a></dd>
            <dd><a lay-href="set/user/password.html">修改密码</a></dd>
            <dd><a th:href="@{/admin/logout}">退出</a></dd>
        </dl>
    </li>
</ul>
</div>
</html>